* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.a {
    top: 15px;
    left: 25px;
    text-decoration: none;
    color: blue;
    font-weight: 700;
    background-color: white;
    padding: 1%;
}

.a-img {
    top: 15%;
    left: 42%;
    text-decoration: none;
    color: blue;
    font-weight: 700;
    background-color: white;
    padding: 1%;
}

.a :hover {
    color: white;
    background-color: blue;
    
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* black with 65% opacity */
  }